<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre de Modulo</th>
        <th scope="col">N° Sesiones</th>
        <th scope="col">Registro</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Modulo 1</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Modulo 2</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Modulo 3</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Modulo 1</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Modulo 1</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Modulo 1</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Modulo 1</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Modulo 1</td>
        <td>3</td>
        <td>12/09/2021</td>
        <td>Activo</td>
      </tr>
    </tbody>
  </table>