<adra-header></adra-header>

<div id="caja">

  <!-- navbar -->
  <adra-modulos-navbar></adra-modulos-navbar>

  <div id="contenido">
    <div id="tabla" class="container-fluid">
      <!-- tabla reporte -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Modulo</th>
            <th scope="col">Banco Comunal</th>
            <th scope="col">Recursos</th>
            <th scope="col">Socios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mpb of mpb">
            <td>{{mpb.no_modulo}}</td>
            <td>{{mpb.no_banco_comunal}}</td>
            <td>{{mpb.ca_total_recursos}}</td>
            <td>{{mpb.ca_total_socios}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>


