<adra-header></adra-header>
<div id="caja">

    <!-- navbar -->
    <adra-socios-navbar></adra-socios-navbar>

    <div id="contenido">
        <div id="tabla" class="container-fluid">

            <!-- modal de añadir modulos -->
            <!--  <adra-seminarios-modal-add></adra-seminarios-modal-add> -->
            <!-- modal de asignar modulos -->
            <!-- <adra-seminarios-modal-asignar></adra-seminarios-modal-asignar> -->
            <!-- separador -->
            <!-- <li class="border-top my-3" style="list-style: none"></li> -->

            <!-- tabla de modulos -->
            <!-- <adra-seminarios-tabla></adra-seminarios-tabla> -->

            <!-- <select class="form-select" aria-label="Default select example" style="width: 30%;"
            (change)="listardigi2($event)">
                <option selected>Seleccionar Seminario</option>
                <option [value] = "s.id" *ngFor="let s of digi3">{{s.nombre}}</option>
            </select> -->





            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Socio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of persona">
                        <td>{{s.id}}</td>
                        <td>{{s.nombre}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>