<a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModulos" data-bs-whatever="@mdo"
style="background-color: #007B5F; display: flex;height: 40px; width: 180px; justify-content: center;margin-bottom: 15px;">
    <span class="material-icons">add</span>
    <p style="margin-top: 2px;margin-left: 5px;">Añadir Modulos</p>
</a>
<div class="modal fade" id="addModulos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Añadir Modulos
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Tipo:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Descripción:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Año:</label>
                        <input type="date" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Añadir</button>
            </div>
        </div>
    </div>
</div>