<div id="fondo">
    <div id="dashboard"
        class="container position-absolute top-50 start-50 translate-middle">
        <a id="boton" class="btn btn-primary" [routerLink]="['/admin/modulos']">
            <span id="icono" class="material-icons-outlined">widgets</span>
            <span id="texto">GESTIONAR</span>
        </a>
        <!-- <a id="boton" class="btn btn-primary" [routerLink]="['/admin/programacion']">
            <span id="icono" class="material-icons-outlined" style="font-size: 90px; margin-bottom: -2px;">event</span>
            <span id="texto">PROGRAMACION</span>
        </a> -->
        <a id="boton" class="btn btn-primary" [routerLink]="['/admin/socios']">
            <span id="icono" class="material-icons-outlined">equalizer</span>
            <span id="texto">REPORTES</span>
        </a>
        <a id="boton" class="btn btn-primary" (click)="logout()">
            <span id="icono" class="material-icons-outlined">logout</span>
            <span id="texto">Cerrar Sesion</span>
        </a>
    </div>
</div>