<adra-header></adra-header>
<div id="caja">
    
    <!-- navbar -->
    <adra-seminarios-navbar></adra-seminarios-navbar>

    <div id="contenido">
        <div id ="tabla" class="container-fluid">
            
            <!-- modal de añadir modulos -->
            <adra-seminarios-modal-add></adra-seminarios-modal-add>
            <!-- modal de asignar modulos -->
            <adra-seminarios-modal-asignar></adra-seminarios-modal-asignar>
            <!-- separador -->
            <li class="border-top my-3" style="list-style: none"></li>

            <!-- tabla de modulos -->
            <adra-seminarios-tabla></adra-seminarios-tabla>

        </div>
    </div>
</div>