<adra-header></adra-header>
<div id="caja">

    <!-- navbar -->
    <adra-seminarios-navbar></adra-seminarios-navbar>

    <div id="contenido">
        <div id="tabla" class="container-fluid">

            <!-- modal de añadir modulos -->
            <adra-seminarios-modal-add></adra-seminarios-modal-add>
            <!-- modal de asignar modulos -->
            <adra-seminarios-modal-asignar></adra-seminarios-modal-asignar>
            <!-- separador -->
            <li class="border-top my-3" style="list-style: none"></li>

            <!-- tabla de modulos -->
            <!-- <adra-seminarios-tabla></adra-seminarios-tabla> -->

            <select class="form-select" aria-label="Default select example" style="width: 30%;">
                <option selected>Seleccionar Seminario</option>
                <option value="1" >Seminario 4</option>
                <option value="listardigi2(5)" >Seminario 5</option>
                <option value="listardigi2(6)" >Seminario 6</option>
            </select>

            <button (click)="listardigi2(5)">5555555</button>
            <button (click)="listardigi2(6)">6666666</button>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Persona</th>
                        <th scope="col">Seminario</th>
                        <th scope="col">comentario</th>
                        <th scope="col">Puntuacion</th>
                        <th scope="col">Banco</th>
                        <th scope="col">Sede</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let digi2 of digi2">
                        <td>{{digi2.persona}}</td>
                        <td>{{digi2.seminario}}</td>
                        <td>{{digi2.comentario}}</td>
                        <td>{{digi2.puntuacion}}</td>
                        <td>{{digi2.banco}}</td>
                        <td>{{digi2.sede}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>