<nav class="navbar navbar-expand-md navbar-dark bg" style="background-color: #007B5F;">
    <div class="container-fluid">
        <div style="padding-right: 15px;">
            <a class="navbar-brand" [routerLink]="['/admin']">
                <img src="https://media.discordapp.net/attachments/867252664853200906/891898362037698610/LOGO_PITCH.png?width=831&height=467"
                    style="object-fit: cover; width: 130px; height: 43px; " alt="">
            </a>
        </div>

        <div style="display: flex; align-items: center; gap: 10px;">
            <a type="button" href="https://web.whatsapp.com/" target="_blank" style="display: flex; align-items: center; gap: 10px;">
                <span type="button" class="material-icons-outlined" style="color: white; font-size: 35px;">
                    whatsapp
                </span>
            </a>
            <a style="font-size: 20px; color: white;">Bienvenido, {{nombre}}</a>
            <span class="material-icons-outlined" style="color: white; font-size: 35px;">
                account_circle
            </span>
        </div>
    </div>
</nav>