<!-- <div id="header" class="fixed-top">
    
</div> -->
<adra-header></adra-header>

<div id="caja">
    <!-- navbar -->
    <adra-modulos-navbar></adra-modulos-navbar>

    <div id="contenido">
        <div id="tabla" class="container-fluid">

            <!-- modal de añadir modulos -->
            <!-- <h1>modal</h1> -->
            <adra-sesiones-modal-add></adra-sesiones-modal-add>            
            <!-- separador -->
            <li class="border-top my-3" style="list-style: none"></li>

            <!-- tabla de modulos -->
            <!-- <h1>tabla</h1> -->
            <!-- <adra-tabla></adra-tabla> -->
            <adra-sesiones-tabla></adra-sesiones-tabla>



            <li class="border-top my-3" style="list-style: none"></li>

        </div>
    </div>
</div>