<div id="body" class="flex-shrink-0 p-3 bg" style="width: 240px; height: 90%;">
  <div style="display: flex; flex-direction: column;">
    <div>
      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-5 fw-semibold">GESTIONAR</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#home-collapse" aria-expanded="true">
            Modulos<i class="bi bi-caret-down-fill"></i>
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a [routerLink]="['/admin/modulos']" class="link-dark rounded">Gestionar</a></li>
              <!-- <li><a [routerLink]="['/admin/modulosporbanco']" class="link-dark rounded">Crear</a></li> -->
              <li><a type="button" class="link-dark rounded" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  data-bs-whatever="@mdo">Crear</a></li>

            </ul>
          </div>
        </li>
        <li class="border-top my-3" style="list-style: none"></li>

        <!-- sesiones -->
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse" aria-expanded="true">
            Sesiones
          </button>
          <div class="collapse show" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a [routerLink]="['/admin/sesiones']" class="link-dark rounded">Gestionar</a></li>
              <li><a type="button" class="link-dark rounded" data-bs-toggle="modal" data-bs-target="#exampleModal1"
                  data-bs-whatever="@mdo" class="link-dark rounded">Crear</a></li>
            </ul>
          </div>
        </li>

        <!-- separador -->
        <li class="border-top my-3" style="list-style: none"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#account-collapse" aria-expanded="true">
            Seminarios
          </button>
          <div class="collapse show" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a [routerLink]="['/admin/seminarios']" class="link-dark rounded">Gestionar</a></li>
              <li><a class="link-dark rounded" type="button" class="link-dark rounded" data-bs-toggle="modal"
                  data-bs-target="#crearSeminarioModal">Crear</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<!-- modal de crear modulos  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CREAR MODULO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NOMBRE</label>
            <input type="text" class="form-control" name="nomodulo" id="recipient-name" [(ngModel)]="modulo.nombre">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">AREA</label>
            <input type="text" class="form-control" name="noarea" id="recipient-name" [(ngModel)]="modulo.area">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">RECURSO</label>
            <input type="text" class="form-control" name="norecurso" id="recipient-name" [(ngModel)]="modulo.recursos">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"> AREA</label>
            <!-- select -->
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione el área</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <!-- select -->
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">DESCRIPCION</label>
            <input type="text" class="form-control" name="demodulo" id="recipient-name" [(ngModel)]="modulo.descripcion">
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-success" data-bs-dismiss="modal" 
        (click)="confirmar()" (click)="crearModulo()">GUARDAR</button>
      </div>
    </div>
  </div>
</div>
<!-- modal de crear modulos -->
<!-- modal de crear sesiones -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CREAR SESION</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">MODULO</label>
            <!-- select -->
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione el módulo</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <!-- select -->

          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NOMBRE</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <div class="row g-2">
              <div class="col-md">
                <label for="message-text" class="col-form-label">Fecha Inicio:</label>
                <input type="date" class="form-control" id="recipient-name">
              </div>
              <div class="col-md">
                <label for="recipient-name" class="col-form-label">Fecha Fin:</label>
                <input type="date" class="form-control" id="recipient-name">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="confirmarsesion()" class="btn btn-success"
          data-bs-dismiss="modal">GUARDAR</button>
      </div>
    </div>
  </div>
</div>
<!-- modal de crear sesiones -->
<!-- modal de crear seminarios -->
<div class="modal fade" id="crearSeminarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DATOS DEL SEMINARIO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">NOMBRE</label>
          <input type="text" class="form-control" id="recipient-name" name="noconferencia" [(ngModel)]="post.nombre">
        </div>
        <div class="mb-3">
          <label for="recipient-name" class="col-form-label">ENLACE</label>
          <input type="text" class="form-control" id="recipient-name" name="urlconferencia" [(ngModel)]="post.url">
        </div>

        <div style="display: flex;">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">FECHA DE INICIO</label>
            <input type="date" class="form-control" id="recipient-name" name="feinicio" [(ngModel)]="post.inicio">
          </div>
          <div class="mb-3" style="margin-left: 20px ;">
            <label for="recipient-name" class="col-form-label">FECHA DE FINALIZACION</label>
            <input type="date" class="form-control" id="recipient-name" name="fefin" [(ngModel)]="post.fin">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="guardar()" (click)="confirmarsem()" type="button" class="btn btn-success" data-bs-dismiss="modal">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- modal de crear seminarios -->