<div class="flex-shrink-0 p-3 bg-white" style="width: 240px; height: 89vh;">
  <div style="display: flex; flex-direction: column;">
    <div>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#home-collapse" aria-expanded="true">
            SESION 1<i class="bi bi-caret-down-fill"></i>
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/user/modulos" class="link-dark rounded">Ingresa a la sesion</a></li>
            </ul>
          </div>
        </li>

        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse" aria-expanded="false">
            Pedido de Oracion
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a class="link-dark rounded" href="/user/pedidos-oracion">Escribe tu oración aqui
                </a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            Seminarios
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/user/seminarios" class="link-dark rounded">Ingrese al seminario</a></li>
            </ul>
          </div>
        </li>
        <!-- <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            Orders
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">New</a></li>
              <li><a href="#" class="link-dark rounded">Processed</a></li>
              <li><a href="#" class="link-dark rounded">Shipped</a></li>
              <li><a href="#" class="link-dark rounded">Returned</a></li>
            </ul>
          </div>
        </li> -->
        <li class="border-top my-3"></li>
      </ul>
      
    </div>
    <div class="border-top my-3"></div>
   
  </div>
</div>
<div>
  <footer style="margin-left: 5px;">
    <button type="button" class="btn btn-success"
      style="background-color: #007B5F; display: flex;height: 40px; margin-left: 35px;">
      <span class="material-icons-outlined">
        home
      </span>
      <p style="margin-top: 2px;margin-left: 5px;">Menu Pricipal</p>
    </button>
  </footer>
</div>