<div class="flex-shrink-0 p-3 bg-white" style="width: 240px; height: 89vh;">
  <div style="display: flex; flex-direction: column;">
    <div>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#home-collapse" aria-expanded="true">
            SESION DE HOY<i class="bi bi-caret-down-fill"></i>
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a [routerLink]="['/user/modulos']" class="link-dark rounded">Ingresa a la sesion</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse" aria-expanded="true">
            Pedido de Oracion
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a class="link-dark rounded" [routerLink]="['/user/pedidos-oracion']" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" data-bs-whatever="@mdo">Escribe tu oración aqui
                </a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#account-collapse" aria-expanded="true">
            Seminarios
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a (click)="alert()" [routerLink]="['/user/seminarios']" class="link-dark rounded">Ingrese al
                  seminario</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>