<adra-header></adra-header>
<div id="caja">

  <!-- navbar -->
  <adra-modulos-navbar></adra-modulos-navbar>

  <div id="contenido">
    <div id="tabla" class="container-fluid">
      <!-- tabla de modulos -->
      <!-- <adra-modulos-tabla></adra-modulos-tabla> -->
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Modulo</th>
              <th scope="col">Area</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Recursos</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of filas; let id=index">
              <td>{{m.id}}</td>
              <td>{{m.nombre}}</td>
              <td>{{m.area?.nombre}}</td>
              <td>{{m.descripcion}}</td>
              <td>{{m.recursos}}</td>
              <td>
                <a role="button" (click)="editar(m)" style="color:#157347"
                data-bs-toggle="modal" data-bs-target="#editarM">
                  <span class="material-icons">
                    edit
                  </span></a>
                <a role="button" (click)="obtenerIdModulo(m);confirmareliminar()" style="color:#157347">
                  <span class="material-icons">
                    delete
                  </span></a>
                <!-- <a [routerLink]="['/admin/modulos']" (click)="eliminar(id)" style="color:#157347">
                  <span class="material-icons">
                    delete
                  </span></a> -->
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="spinner-border m-5" role="status">
          <span class="visually-hidden">Loading...</span>
        </div> -->
      </div>


    </div>
  </div>
</div>

<div class="modal fade" id="editarM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CREAR MODULO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"> AREA</label>
            <!-- select -->
            <select class="form-select" aria-label="Default select example" (change)="obtenerIdArea($event)"
              name="areaselect" id="recipient-name" [(ngModel)]="areacrear.id">
              <option selected> Seleccione el área</option>
              <option  [value]="a.id" *ngFor="let a of arealistar">{{a.nombre}}</option>
            </select>
            <!-- select -->
          </div>
          <!-- <div class="mb-3">
            <label for="recipient-name" class="col-form-label">AREA</label>
            <input type="text" class="form-control" name="noarea" id="recipient-name" [(ngModel)]="areacrear.id">
          </div> -->
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">NOMBRE</label>
            <input type="text" class="form-control" id="recipient-name" name="nomodulo" [(ngModel)]="editarM.nombre">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">DESCRIPCION</label>
            <input type="text" class="form-control" name="demodulo" id="recipient-name"
              [(ngModel)]="editarM.descripcion">
          </div>
          <!-- <div class="mb-3">
            <label for="recipient-name" class="col-form-label">RECURSO</label>
            <input type="text" class="form-control" name="norecurso" id="recipient-name" [(ngModel)]="modulo.recursos">
          </div> -->
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-success" data-bs-dismiss="modal" 
        (click)="actualizarModulo()" >GUARDAR</button>
      </div>
    </div>
  </div>
</div>