<adra-header></adra-header>
<div id="caja">

  <!-- navbar -->
  <adra-modulos-navbar></adra-modulos-navbar>

  <div id="contenido">
    <div id="tabla" class="container-fluid">
      <!-- tabla de modulos -->
      <!-- <adra-modulos-tabla></adra-modulos-tabla> -->
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Area</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Recursos</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of filas; let id=index">
              <td>{{m.id}}</td>
              <td>{{m.nombre}}</td>
              <td>{{m.area?.nombre}}</td>
              <td>{{m.descripcion}}</td>
              <td>{{m.recursos}}</td>
              <td>
                <a role="button" (click)="editar(id)" style="color:#157347">
                  <span class="material-icons">
                    edit
                  </span></a>
                <a role="button" (click)="confirmareliminar()" style="color:#157347">
                  <span class="material-icons">
                    delete
                  </span></a>
                <!-- <a [routerLink]="['/admin/modulos']" (click)="eliminar(id)" style="color:#157347">
                  <span class="material-icons">
                    delete
                  </span></a> -->
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="spinner-border m-5" role="status">
          <span class="visually-hidden">Loading...</span>
        </div> -->
      </div>
      <!-- tabla reporte -->
      <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">Modulo</th>
            <th scope="col">Banco Comunal</th>
            <th scope="col">Recursos</th>
            <th scope="col">Socios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mpb of mpb">
            <td>{{mpb.no_modulo}}</td>
            <td>{{mpb.no_banco_comunal}}</td>
            <td>{{mpb.ca_total_recursos}}</td>
            <td>{{mpb.ca_total_socios}}</td>
          </tr>
        </tbody>
      </table> -->



    </div>
  </div>
</div>