<adra-header></adra-header>
<div style="display: flex; flex-direction: row;">
  <adra-navbar></adra-navbar>
  <div style="width: 100%; height: 80vh; background: #F1F2F1; padding-top: 25px; border-radius: 3px; margin: 10px; box-shadow: 0px 0px 5px 1px rgb(139, 139, 139);
  padding: 10px;">
    <div class="container-fluid" style="max-width: 100%; height: 100%;display: flex;">
      <div class="list-group" style="width: 28%;">
        <li class="list-group-item active" aria-current="true" style="background-color: #007B5F;">MATERIAL EDUCATIVO
        </li>
        <a *ngFor="let r of recurso" class="list-group-item list-group-item-action list-group-item-success"
          style="display: flex; align-items: center; justify-content: space-between;">
          {{r.no_sesion}} <br>
          {{r.no_recurso}}
          <button type="button" class="btn btn-success" (click)="setUrl(r.url_recurso)"
            style="height: 35px;  background-color: #007B5F;width: 48px;">
            <span class="material-icons-outlined">visibility</span>
          </button>
        </a>
      
      </div>
      <iframe [src]="urlSafe" frameborder="0" style="width: 100%; height: 68vh;margin-left: 3%;"></iframe>

    </div>
    <div style="float: right; margin-top: -40px; margin-right: 8px;">
      <button type="button" class="btn btn-success" style="float: right;margin-right: 3.4%;margin-top: 1%;"
        data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Finalizar</button>
    </div>
  </div>
  
</div>

<adra-progreso style="margin-top: 30px;"></adra-progreso>
<!-- modal de finalizar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">¿Cómo calificarías esta sesión?</h2>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">

          </div>
          <div class="mb-3" style="display: flex; ">
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" style="margin-left: 1.5%;">
              <img
                src="https://media.discordapp.net/attachments/867213938096603138/918608304886906900/VOLUNTARITO_DECEPCIONADO.png?width=676&height=676"
                style="width: 110%; height: 200px;">
              MALO
            </button>
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" style="margin-left: 4%;">
              <img
                src="https://media.discordapp.net/attachments/867213938096603138/918608739001581628/VOLUNTARITO_INTELIGENTE.png?width=676&height=676"
                style="width: 110%; height: 200px;">
              REGULAR
            </button>
            <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" style="margin-left: 4%;">
              <img
                src="https://media.discordapp.net/attachments/867213938096603138/918608219352469594/VOLUNTARITO_FESTIVO.png?width=676&height=676"
                style="width: 110%; height: 200px;">
              BUENO
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal de finalizar -->